header {
    display: flex;
    justify-content: space-between;
}
header .circle-heat {

    font-size: 30px;
}

.icon-choice {
    cursor: pointer;
}

.icon-choice:hover {
    background-color: rgb(220, 219, 219);
    border-radius: 20px 50px;
    padding: 9px;
}

.cityForm{
    border: 0.5px solid rgb(165, 165, 165);
    padding: 10px;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 20px;

}

.form button {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;

    margin-top: 10px;
    background-color: transparent;
    font-family: "Kode Mono";
}

.form .submitButton:hover {
    background-color: rgb(138, 244, 186);

}
.form .clearButton:hover {
    background-color: rgb(168, 182, 180);

}

